body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0b3226;
    margin: 0;
}

.calculator {
    background-color: #929292bb;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.display {
    background-color: #222;
    color: #fff;
    font-size: 2em;
    text-align: right;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 60px;
    overflow: hidden;
    word-wrap: break-word;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
}

button:hover {
    background-color: #cda70d;
}

button:active {
    background-color: #bbb;
}

button.equal {
    background-color: #2ee334;
    color: white;
   
}

button.equal:hover {
    background-color: #ff1313;
}